<head>
  <title>Poodle Search (IPFS)</title>
  <link href="main.css" rel="stylesheet"></link>
  <link rel="icon" href="icon.png" />
</head>
<body>
  <div class="content">
    <center><img alt="Poodle Search" title="Poodle Search" src="logo_full.png"style="width:80%;margin:0 auto"width="350px"></center>
    <form id="search-form">
      <input type="search" placeholder="search"></input>
      <div class="query-error"></div>
      <div class="controls">
        <button type="submit">Search</button>
        <button type="reset">Reset</button>
      </div>
    </form>
    <ul>
      <% bios.each do |bio| %>
        <li data-bio-id="<%= bio.id %>">
          <article>
            <header>
              <h2 data-field="name"><%= bio.name %></h2>
            </header>

            <section data-field="body">
              <p><%= bio.body %></p>
              <p data-field="keywords"><%= bio.keywords %></p>
            </section>
          </article>
        </li>
      <% end %>
    </ul>
   </div>
  <script src="index.js"></script>
</body>
